<html lang="en">
<%- include('./partials/head.ejs') %>

<body>
    <p> This is the about page </p>

    <%- include('./partials/nav.ejs') %>

    <%- include('./partials/footer.ejs') %>
</body>
</html>