<html lang="en">
<%- include('./partials/head.ejs') %>

<body>
    
    <div class="create-blog content">
        <h2><%= todo.item %></h2>
    </div>

    <%- include('./partials/nav.ejs') %>
    <%- include('./partials/footer.ejs') %>
</body>
</html>